<html>
    <head>
        <title>Speech Page</title>
    </head>
    <Link rel="stylesheet" href="./Speech.css">
    <Link rel="javascript" href="./Speech.js">
    <body>
        <main>
            <p class="title">Text To Speech</p>
            <div class="text-selection">
                <p class="text-title">Enter Text</p>
                <textarea name=" " id="text"></textarea>
            </div>
            <div class="voice-section">
                <p class="voice-title">Select Voice</p>
                <select name="" id="voice">
                    <option value="Google US English">Google US English</option>
                    <option value="Google Hindi">Google हिंदी</option>
                    <option value="Google Telugu">Google తెలుగు</option>
                    <option value="Google Kannada">Google ಕನ್ನಡ</option>
                    <option value="Google Tamil">Google தமிழ்</option>
                    <option value="Google Malayalam">Google മലയാളം</option>
                    <option value="Google Urdu">Google اردو</option>
                    <option value="Google Gujarati">Google ગુજરાતી</option>
                </select>
            </div>
            <button class="submit">Convert To Speech</button>
        </main>
    </body>
</html>